version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sterpfb1_app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
